body {
  margin: 0;
  padding: 0;
}

/*-------------------------------INDEX START--------------------------------------*/

.INDEX-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/Bilder/pexels-eneida-nieves-905847.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*Dette er teksten til bildet*/
.INDEX-hero h1 {
  text-align: center;
  color: white;
  margin-bottom: 0.5em;
  font-size: 4em;
}

.INDEX-hero p {
  color: white;
  font-size: 250%;
}

  .INDEX-about-flexcontainer {
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: left;
      width: 100%;
      padding-top: 100px;
      padding-bottom: 80px;
  }

  .INDEX-about-flexcontainer > div {
      width: 500px;
      font-size: 20px;
      padding: 30px;
  }

  .INDEX-about-flexcontainer h2 {
      color: black;
      font-size: 1.5em;
  }

  .INDEX-about-flexcontainer p {
      color: black;
      padding-top: 10px;
  }


  .INDEX-about-div2 img {
    height: 300px;
}
  
.INDEX-about-div1 button {
    background-color: transparent;
    font-size: large;
    color: black;
    border-color: black;
    border-width: 1px;
    margin-top: 20px;
    transition: all .5s ease;
    text-align: left;
    padding: 10px 30px;
  }

.INDEX-about-div1 button:hover {
    cursor: pointer;
    background-color: black;
    color:white;
  }
  
  .INDEX-booking-flexcontainer {
    background-color:#222;
    display: flex;
    flex-wrap:wrap-reverse;
    justify-content: center;
    align-content: center;
    text-align: left;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.INDEX-booking-flexcontainer > div {
    width: 500px;
    font-size: 20px;
    padding: 30px;
}

.INDEX-booking-flexcontainer h3 {
    color: white;
    font-size: 1.5em;
}

.INDEX-booking-flexcontainer p {
    color: white;
    padding-top: 10px;

}

.INDEX-booking-div1 img {
    height: 300px;
}

  
.INDEX-booking-div2 button {
    background-color: transparent;
    font-size: large;
    color: white;
    border-color: white;
    border-width: 1px;
    margin-top: 20px;
    transition: all .5s ease;
    text-align: center;
    padding: 10px 30px;
    font-family: unset;
  }

.INDEX-booking-div2 button:hover {
    cursor: pointer;
    background-color: white;
    color:black;
  }

/*-------------------------------INDEX SLUTT--------------------------------------*/

/*-------------------------------INDEX FOOTER START--------------------------------------*/


/*--INDEX FOOTER-- */ 
.INDEX-footer {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  position: static;
  bottom: 0;
}

.INDEX-container {
  font-weight: 700;
  display: flex;
  padding: 50px 20px;
  min-width: 100px;
  margin: 0 auto;
}

.INDEX-random {
  background-color:white;
  flex-grow: 1;
  flex-basis: 100%;
}

.INDEX-åpningstider {
  background-color: white;

  flex-grow: 1;
  flex-basis: 100%;
  margin: 0 100;
}

.INDEX-info {
  background-color: white;
  flex-grow: 1;
  flex-basis: 100%;
}
.INDEX-footer-container h4 {
  margin-bottom: 20px;
  font-size: 25px;
}

.INDEX-random ul {
  list-style: none;
  line-height: 1;
}

.INDEX-åpningstider ul {
  list-style: none;
  line-height: 1.5;
}

.INDEX-info ul {
  list-style: none;
  line-height: 1.5;
}

.INDEX-copyright {
  font-weight: 500;
  text-align: center;
  padding: 15px 0px;
  border-top: 1px solid grey;
}

.INDEX-footer-container {
  display: flex;
  justify-content: center;
}

/*-------------------------------INDEX FOOTER SLUTT--------------------------------------*/



/* MENY  - SILJE  - START -----------------------------------------------------------------------------------------------*/

/* Menyen: bildet -------------------------------------------------------------------------------------------------------*/
.Meny-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/Bilder/kokk.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.Meny-hero h1 {
  text-align: center;
  color: white;
  margin-bottom: 0.5em;
  font-size: 6em;
}

.Meny-hero p {
  color: white;
  font-size: 250%;
}


/* Menyen: rettene -------------------------------------------------------------------------------------------------------*/

/*Dette er for å lage de i bokser*/

.meny-body {
 background-color: #222;
}

.MenyContainer div{
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  padding: 30px
}



/*Setter boksene ved siden av hverandre*/
.MenyContainer,
.MenyOverskriftTo {
  display: flex;
  height: 100%;
  justify-content: center;
  background-color: #222;
  color: #ccc;
}


.MenyContainerBoks{
  font-weight: 700;
  flex-basis: 25%;
  margin: 1%;
  text-align: center;
  margin-bottom: 80px;
}

.MenyOverskriftTo #FørsteOverskrift {
  margin-top: 80px;
}

.MenyOverskriftTo {
  padding-top: 1.5%;
  padding-bottom: 0.5%;
}

.MenyContainerBoks #allergi{
  bottom: 0;
  border: 1px solid transparent;
  width: fit-content;
}

.MenyOverskriftTo h2{
  border-bottom: 1px solid gainsboro;
}



/* MENY  - SILJE - SLUTT ----------------------------------------------------------------------------------------------/*


/* RESERVASJONER - EMIL - START -----------------------------------------------------------------------------------------*/








.Reservationsreservasjoner {
  font-weight: 700;
  background-image: url(/Bilder/BG.jpg); 
  min-height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*Overskrift reservations*/
.ReservationsHeader {

  text-align: center;
  margin-top: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;

}

/*Overskrift*/

.ReservationsHeader h1 {
  position: relative;

  text-align: center;
  font-size: 90px;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
  

}

/*Paragraf under Overskrift*/
.ReservationsHeader p {
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  text-align: center;
  letter-spacing: 0em;
  
  font-style: normal;
  letter-spacing: .02em;
  text-transform: none;
  line-height: 1.8em;
  font-size: 1rem;
  line-height: 1.8;
  color: rgb(255, 255, 255);
}

/*Knapp reserver bord*/

.ReservationsHeader button {
  font-weight: 700;
  
  background-color: transparent;
  font-size: large;
  color: white;
  border-color: white;
  border-width: 1px;
  padding: 10px 2em;
  transition: all .5s ease;
  margin-top: 25px;
  font-family: Montserrat, Times, serif;

}


/*Tekst som ligger i footer*/
.Reservationsparagrafer {
  font-weight: 700;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "paragraf1 paragraf2 paragraf3";
  grid-column-gap: 150px;
  grid-row-gap: 0px;
  text-align: center;
  align-content: center;
  margin-top: 40px;
  letter-spacing: 0em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .02em;
  text-transform: none;
  line-height: 1.8em;
  font-size: 1rem;
  line-height: 1.8;
  color: rgb(0, 0, 0);
  margin-left: 50px;
  margin-right: 50px;
}


/*Margin over til H3*/

.Reservationsparagraf1 p,
.Reservationsparagraf2 p,
.Reservationsparagraf3 p {
  margin-top: 15px;
  font-weight: 700;
}

.Reservationsparagraf1 {
  grid-area: paragraf1;

}

.Reservationsparagraf2 {
  grid-area: paragraf2;


}

.Reservationsparagraf3 {
  grid-area: paragraf3;


}

/*Overskrift - footer*/
.Reservationsfooterh3 {
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.4em;
  font-size: 25px;
}

/*-----------Info del-------------*/
.ViderePåReservasjoner{
  color:white;
  margin-top: 50px;
}

.DATAOverskrift{
  display: flex;
  justify-content: center;
  font-weight: 100;
  font-size: 100%;
}

.LaMariaInfoOver{
  margin-top: 50PX;
  justify-content: center;
  text-align: center;
}

.LaMariaInfoPara1 div, .LaMariaInfoPara3 div, .InfoBoks3{
  padding: 2%;
  margin: 2%;
}

.LaMariaInfoPara2 div{
  border: 1px #ccc solid;  
  padding: 1%;
  flex-basis: 60%;
}

#winterBy {
  display: none;
}

.LaMariaInfoPara1, .LaMariaInfoPara2, .LaMariaInfoPara3, .LaMariaInfoPara4{
  display: flex;
  justify-content: center;
  margin-top: 10px;
 
}

.InfoBoks1{
  flex-basis: 25%;

}


.BildeBoks1{
  flex-basis: 60%;
  transition: 1s;

} 

.InfoBoks2{
  flex-basis: 60%;
  transition: 1s;

} 

.InfoBoks3, .BildeBoks2{
  margin-bottom: 10px;
  flex-basis: 20%;
}

.LaMariaInfoPara2{
  position: flex;
  height: 20%;
}

.LaMariaInfoPara4{
  display: flex;
  justify-content: center;
}


.LaMariaInfoPara4 div{
  display: flex;
  justify-content: center;
  flex-basis: 40%;
  height: 50vh;
  height: auto;
}

  .BildeBoks1{
      flex-basis: 50%;
  }
  .BildeBoks2{
      margin-right: 10px;
      margin-left: 10px;

  }
  .InfoBoks3{
      margin-left: 5px;
  }

    @media (max-width:426px) { /* ---------------- */
    .LaMariaInfoPara4 {
        flex-direction: column;
    }
    .BildeBoks2{
        flex-basis: 25%;
    }

    }
    @media (max-width: 550px) { /* ---------------- */


    #winterBy {
    display: block;
    }
    }
    @media (max-width: 720px) { /* ---------------- */


    #winterBy {
      display:flex;
    }

    #utsideBilde{
    display: none;   
    }
    }

    @media (max-width: 768px) { /* ---------------- */

    .LaMariaInfoPara1 {
      flex-direction: column;
    }
  
    .BildeBoks1{
      flex-basis: 50%;
    }
    .InfoBoks2{
      flex-basis: 60%;
    }
}

/* RESERVASJONER - SLUTT -----------------------------------------------------------------------------------------*/


/* RESERVASJON SKJEMA - START -----------------------------------------------------------------------------------------*/
  
  /*---------------------------------------------------Seksjon------------------------------------------------------------------*/
  
  
  .Reservation {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    font-family: Montserrat, Times, serif;
    margin-bottom: 80px;
  }
  
  /*------------------------------------------------- Info  side-----------------------------------------------------------------------*/

  #RegValg {
    font-weight: 700;
    position: absolute;
    display: flex;
    border-bottom: 1px solid white;
    margin-left: 22px;

   }
    #klump{
      content: '';
      height: 6px;
      width: 60px;
      background: #abe9ee;
      border-radius: 60px 60px 0 0;
      position: absolute;
      bottom: 0;
      left: 35px;
    }

    .ReserverBord, .BookEvent{
      padding: 5px 12px;
      background: linear-gradient(45deg,#90aaae,rgb(127, 149, 117));
      cursor: pointer;
      transition: 0.3s ease;
      margin-bottom: 10px;
      
    }

    .ReserverBord{
      margin-right: 5px;
    }

    .tilbakeKnapp{ 
      color: white;
      position: absolute;
      font-weight: 700;
      font-size:x-large;
      margin-top: 10px;
      margin-left: 20px;
      
    }



  .RegInfo {
    display: relative;
    color: white;
    margin-top: 100px;
    margin-left: 80px;
    width: 550px;
    height: 550px;
  }
  
  .RegInfo h1 {
    height: fit-content;
    margin-left: 20px;
    font-size: 50px;
    width: 300px;
    border-radius: 5px 5px 5px 0px;
  }
  
  .RegInfo p {
    height: fit-content;
    font-weight: 700;
    color: white;
    width: 250px;
    margin-top: 25px;
    margin-left: 20px;
    text-align: left;
    border: 1px solid transparent;
    border-radius: 0px 0px 5px 5px ;
  }
  
  
  
  
  /*--------------------------------------------------Utfyllingsskjema--------------------------------------------------------------------------*/
  .RegSkjema {
    font-weight: 700;
    display: flex;
    flex-shrink: 1px;
    margin-top: 80px;
    margin-left: 200px;
    width: 500px;
    height: 550px;
    padding-top: 5px;
    padding-left: 5px;
    color: white;
    border: 1px solid transparent;
    
  }

    .RegSkjema #RegSkjemBord {
      width: 100%;
      position: relative;

    }

    .RegSkjema #form{
      width: 200%;
      position: relative;
      display: flex;
      margin: auto;
      transition: 0.2s ease-in-out;
    }

    #RegSkjemBord {
      width: 100%;
      margin: auto;
    }

    #RegSkjemEvent {
      width: 100%;
      margin: auto;
      display: none;
    }

    .RegSkjema label {
    margin-left: 10px;
    font-family: Montserrat, Times, serif;
    font-weight: 700;
    }
  
    .RegSkjema input {
    padding: 3px;
    margin-left: 5px;
    border-radius: 7px;
    font-family: Montserrat, Times, serif;
    font-weight: 700;
    }
  
      #navn {
      margin-top: 10px;
      }
    
      #email{
      width: 69%;
      }
  
      #tlf{
      width: 44%;
      }
  
      #gjester {
      width: 40px;
      }
  
    .RegSkjema textarea {
    padding: 4px;
    margin-left: 5px;
    border-radius: 7px;
    font-family: Montserrat, Times, serif;
    font-weight: 700;
    width: 69%;
    }
  
      #submit {
      margin-bottom: 8px;
      font-family: Montserrat, Times, serif;
      font-weight: 700;
      }


/* RESERVASJON SKJEMA - END ----------------------------------------------------------------------------------------------*/

/*MEDIA QUERY - START ---------------------------------------------------------------------------------------------------------*/


@media (max-width:320px) {
  
  /*---NAV BAR-------------------*/
  /*---NAV BAR SLUTT-------------*/
  /*---INDEX START---------------*/
  

  .INDEX-hero h1 {
    font-size: 20px;
  }
  
  .INDEX-hero p {
    font-size: 10px;
    
  }


  /*---INDEX SLUTT---------------*/

  /*---MENY START----------------*/

  .MenyContainer,
  .MenyOverskriftTo {
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

 .Meny-hero p{
  font-size: 20px;
 }

 .Meny-hero h1{
  font-size: 40px;
 }

 .Meny-hero {
  height: 100%;
}





/*---MENY SLUTT-------------------*/

  /*---RESERVASJONER START----------*/
  .Reservationsreservasjoner{
    width: 100%;
  }
  .ReservationsHeader h1 {
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    font-family: Montserrat, Times, serif;
  }

  /*Paragraf under Overskrift*/
  .ReservationsHeader p {
    font-size: 20px;
    font-family: Montserrat, Times, serif;
    font-style: normal;
    letter-spacing: .02em;
    text-transform: none;
    line-height: 1.8em;
    line-height: 1.8;
    color: rgb(255, 255, 255);
    width: 200px;

  }
  /*---RESERVASJONER SLUTT-- --------*/

  /*---REGSKJEMA START-- --------*/

  .Reservation{
    flex-direction: column;
  }

  .RegInfo {
    margin-left: 0;
    left: 5%;
    height: fit-content;

  }

  .RegInfo p {
    padding: 2px 2px 2px 2px;
  }


  .RegSkjema {
    width: fit-content;
    top: 30px;
    margin-bottom: 2px;
    padding: 0;
    margin-left: 5px;
  }
}

@media (max-width: 576px) { /*Small devices (landscape phones, 576px and up)---------------------------------------------------*/

  /*---NAV BAR-------------------*/
  /*---NAV BAR SLUTT-------------*/
  /*----INDEX START---------------*/

   .INDEX-hero h1{
    font-size: 30px;
   }

   .INDEX-hero p{
    font-size: 20px;
   }
  
  /*---INDEX SLUTT-----------------*/

  /*---MENY START------------------*/
  .MenyContainer,
  .MenyOverskriftTo {
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

 .Meny-hero p{
  font-size: 20px;
 }

 .Meny-hero h1{
  font-size: 40px;
 }

  
 .Meny-hero {
  height: 50vh;
}



  /*---MENY SLUTT-------------------*/

  /*---RESERVASJONER START----------*/
  .ReservationsHeader h1 {
    font-size: 0px;
    color: rgb(255, 255, 255);
    margin-bottom: 0;

  }

  /*Paragraf under Overskrift*/
  .ReservationsHeader p {
    letter-spacing: 0em;
    font-family: Montserrat, Times, serif;
    font-style: normal;
    letter-spacing: .02em;
    text-transform: none;
    line-height: 1.8em;
    font-size: 1rem;
    line-height: 1.8;
    color: rgb(255, 255, 255);
    width: 350px;

  }

  /*---RESERVASJONER SLUTT-- --------*/

  /*---REGSKJEMA START-- --------*/

  .Reservation{
    flex-direction: column;
  }

  .RegInfo {
    margin-left: 5px;
    left: 5%;
    height: fit-content;

  }

  .RegInfo p {
    padding: 2px 2px 2px 2px;
  }


  .RegSkjema {
    width: fit-content;
    top: 30px;
    margin-bottom: 2px;
    padding: 0;
    margin-left: 10px;
  }
  /*---REGSKJEMA SLUTT-- --------*/
}


@media (max-width: 768px) { /* Medium devices (tablets, 768px and up) -------------------------------------------------------- */

  /*---INDEX START-------------------*/
  .INDEX-about-div2 img, .INDEX-booking-div1 img{
    width: 100%;
  }
  
  .INDEX-hero h1{
    font-size: 40px;
   }

   .INDEX-hero p{
    font-size: 20px;
   }

   .INDEX-hero {
    width: auto;
    min-height: 100vh;
    background-attachment: scroll;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/Bilder/pexels-pizza-liten.jpg');
  }
  /*---INDEX SLUTT------------------*/

  /*---MENY START-------------------*/
  .MenyContainer,
  .MenyOverskriftTo {
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

 .Meny-hero p{
  font-size: 20px;
 }

 .Meny-hero h1{
  font-size: 40px;
 }

 .Meny-hero img{
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/Bilder/kokk.jpg');
}

  /*---MENY SLUTT-------------------*/

  /*---RESERVASJONER START----------*/
  .ReservationsHeader h1 {
    font-size: 45px;
    color: rgb(255, 255, 255);
    margin-bottom: 0;

  }

  /*Paragraf under Overskrift*/
  .ReservationsHeader p {
    letter-spacing: 0em;
    font-family: Montserrat, Times, serif;
    font-style: normal;
    letter-spacing: .02em;
    text-transform: none;
    line-height: 1.8em;
    font-size: 1rem;
    line-height: 1.8;
    color: rgb(255, 255, 255);
    width: 350px;

  }
  /*---RESERVASJONER SLUTT-- --------*/

  /*---REGSKJEMA START-- --------*/

  .Reservation{
    flex-direction: column;
    
  }

  .RegInfo {
    margin-left: 5px;
    left: 5%;
    height: fit-content;

  }

  .RegInfo p {
    padding: 2px 2px 2px 2px;
  }


  .RegSkjema {
    width: fit-content;
    top: 30px;
    margin-bottom: 2px;
    padding: 0;
    margin-left: 10px;
  }

  /*---REGSKJEMA SLUTT-- --------*/
}

@media (max-width: 992px) { /* Large devices (desktops, 992px and up) --------------------------------------------------------*/

  /*---NAV BAR----------------------*/
  /*---NAV BAR SLUTT----------------*/

  /*---INDEX START------------------*/
  /*---INDEX SLUTT-------------------*/

  /*---MENY START--------------------*/

  .MenyContainer,
  .MenyOverskriftTo {
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

 .Meny-hero p{
  font-size: 20px;
 }

 .Meny-hero h1{
  font-size: 40px;
 }

 .Meny-hero img{
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/Bilder/pasta.jpg');
}
  /*---MENY SLUTT--------------------*/

}

/* X-Large devices (large desktops, 1200px and up)---------------------------------------------- */
@media (max-width: 1200px) { 

  /*---REGSKJEMA START-- --------*/

  .Reservation{
    flex-direction: column;
  }

  .RegInfo {
    margin-left: 5px;
    left: 5%;
    height: fit-content;

  }

  .RegInfo p {
    padding: 2px 2px 2px 2px;
  }


  .RegSkjema {
    width: fit-content;
    top: 30px;
    margin-bottom: 2px;
    padding: 0;
    margin-left: 10px;
  }
}
/*---REGSKJEMA SLUTT-- --------*/


@media (max-width: 1400px) { /* XX-Large devices (larger desktops, 1400px and up) --------------------------------------------*/ 
  /*---NAV BAR----------------------*/
  /*---NAV BAR SLUTT----------------*/
  /*---INDEX START------------------*/
  /*---INDEX SLUTT------------------*/
  /*---MENY START-------------------*/
  /*---MENY SLUTT-------------------*/
  /*---RESERVASJONER START----------*/
  /*---RESERVASJONER SLUTT-- --------*/

}

/*MEDIA QUERY - SLUTT ---------------------------------------------------------------------------------------------------------*/
