* {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #222;
}

/* INDEX - START ----------------------------------------------------------------------------------------------/*


/*Styling for forisde bilde + hero */
.INDEX-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/Bilder/pexels-eneida-nieves-905847.jpg');
  /* Bildet er hentet fra: https://www.pexels.com/nb-no/bilde/sterk-varm-sexy-marked-905847 (Fotograf: Eneida Nieves) */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.INDEX-hero-indre {
/*margin-bottom: 100px;*/
}

/*Styler Overskrift*/
.INDEX-hero h1 {
  text-align: center;
  color: white;
  margin-bottom: 0.5em;
  font-size: 4em;
}

/*Styler undertekst i hero*/
.INDEX-hero p {
  color: white;
  font-size: 250%;
  margin-bottom: 20px;

}
/*Flex-container for "om oss" seksjon*/
.INDEX-about-flexcontainer {
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: left;
      width: 100%;
      padding-top: 100px;
      padding-bottom: 80px;
}

/*Styler egenskaper til child*/
.INDEX-about-flexcontainer > div {
      width: 500px;
      font-size: 20px;
      padding: 30px;
}
/*Styling av h2 element*/
.INDEX-about-flexcontainer h2 {
      color: black;
      font-size: 1.5em;
}
/*Styling av p element*/
.INDEX-about-flexcontainer p {
      color: black;
      padding-top: 10px;
}

/*Setter størrelse på bildene i både about-flexcontainer og booking-flexcontainer*/
.INDEX-booking-div1 img, .INDEX-about-div2 img {
  height: 300px;
}
/*Styler hele flex-container*/
  .INDEX-booking-flexcontainer {
    background-color:#222;
    display: flex;
    flex-wrap:wrap-reverse;
    justify-content: center;
    align-content: center;
    text-align: left;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}
/*Styler egenskaper til child*/
.INDEX-booking-flexcontainer > div {
    width: 500px;
    font-size: 20px;
    padding: 30px;
}

/*Styling av h3 element*/
.INDEX-booking-flexcontainer h3 {
    color: white;
    font-size: 1.5em;
}

/*Styling av p element*/
.INDEX-booking-flexcontainer p {
    color: white;
    padding-top: 10px;

}
/*Styling av "Utforsk" knapp*/ 
.INDEX-booking-div2 button {
    background-color: transparent;
    font-size: large;
    color: white;
    border-color: white;
    border-width: 1px;
    margin-top: 62px;
    transition: all .5s ease;
    text-align: center;
    padding: 10px 30px;
    font-family: unset;
  }

  /*Styling av effekter når man holder over "Utforsk" knapp*/
.INDEX-booking-div2 button:hover {
    cursor:pointer;
    background-color: white;
    color:black;
  }

  .INDEX-hero-indre button {
    background-color: transparent;
    font-size: large;
    color: white;
    border-color: white;
    border-width: 1px;
    margin-top: 20px;
    transition: all .5s ease;
    text-align: center;
    padding: 10px 30px;
    font-family: unset;
  }
  .INDEX-hero-indre button:hover {
    cursor:pointer;
    background-color: white;
    color:black;
  }


/* INDEX - SLUTT ----------------------------------------------------------------------------------------------/*

/* MENY - START ----------------------------------------------------------------------------------------------/*

/* -- Bakgrunnsbildet --*/
.meny-body {
  background-color: #222;
 }


/* -- Hovedbildet --*/
.Meny-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/Bilder/kokk.jpg');
/* Bildet er hentet fra: https://www.pexels.com/nb-no/bilde/kokk-kjokken-matlaging-rett-5953496 (Fotograf: Anna Shvets) */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



/* -- Overskiften, på bildet--*/
.Meny-hero h1 {
  text-align: center;
  color: white;
  margin-bottom: 0.5em;
  font-size: 6em;
}

/* -- Paragrafet, på bildet --*/
.Meny-hero p {
  color: white;
  font-size: 250%;
  margin-bottom: 100px;
}


/* -- Margin og padding på boksene -- */
.MenyContainer div{
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  padding: 30px
}


/* -- For å få mellomrom mellom bildet og boksene -- */
.MenyOverskriftTo #FørsteOverskrift {
  margin-top: 80px;
}

/* -- Styler overskrift over bokser-- */
.MenyOverskriftTo h2{
  border-bottom: 1px solid gainsboro;
}

.MenyOverskriftTo {
  padding-top: 1.5%;
  padding-bottom: 0.5%;
}


/* -- Styler boksene-- */
.MenyContainer,
.MenyOverskriftTo {
  display: flex;
  height: 100%;
  justify-content: center;
  background-color: #222;
  color: #ccc;
}

.MenyContainerBoks{
  font-weight: 700;
  flex-basis: 25%;
  margin: 1%;
  text-align: center;
  margin-bottom: 80px;
}


/* MENY - SLUTT ---------------------------------------------------------------------------------------------------------/*


/* BOOKING - START -----------------------------------------------------------------------------------------------------*/

.BOOKING-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*Bilde hentet fra: https://www.pexels.com/photo/bridge-over-aker-river-near-buildings-5683079 (Fotograf: Boris K) */

  background-image: linear-gradient(rgba(0, 0, 0, 2), rgba(0, 0, 0, 0.5)), url('/Bilder/akerbrygge.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*Dette er teksten til bildet*/
.BOOKING-hero h1 {
  text-align: center;
  color: white;
  margin-bottom: 0.5em;
  font-size: 4em;
}
/*Styling av p element i hero*/
.BOOKING-hero p {
  color: white;
  font-size: 189%;
  margin: 0%11%1%11%;
}

/*Styling knapp i hero*/
.BOOKING-hero-indre button {

  background-color: transparent;
  font-size: large;
  color: white;
  border-color: white;
  border-width: 1px;
  margin-top: 20px;
  transition: all .5s ease;
  text-align: center;
  padding: 10px 30px;
  font-family: unset;
}
/*Styling av knapp:hover i hero*/
.BOOKING-hero button:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/*Om maria´s info flex-conatiner*/



.BOOKING-info-flexcontainer {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 80px;
}

/*Styling av div*/
.BOOKING-info-flexcontainer > div {
  width: 500px;
  font-size: 20px;
  padding: 30px;
}
/*Styling av h2 tag*/
.BOOKING-info-flexcontainer h2 {
  color: black;
  font-size: 1.5em;
}
/*Styling av p tag*/
.BOOKING-info-flexcontainer p {
  color: black;
  padding-top: 10px;
}
/*Styling av bilde i div*/
.BOOKING-info-div2 img {
  height: 300px;
}

/*arrangemanger seksjon*/

/*Styling av flexcontainer*/
.BOOKING-arrangemanger-flexcontainer {
  background-color: rgb(83, 83, 87);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 80px;
}

/*Styling av div*/
.BOOKING-arrangemanger-flexcontainer > div {
  width: 800px;
  font-size: 20px;
  padding: 30px;
}
/*Styling av h3 element*/
.BOOKING-arrangemanger-flexcontainer h3 {
  color: white;
  font-size: 1.5em;
  text-align: center;
}
/*Styling av p element*/
.BOOKING-arrangemanger-flexcontainer p {
  color: white;
  padding-top: 15px;
}
/*Styling av bilde i div*/
.BOOKING-arrangemanger-div2 img {
  height: 500px;
}

/*Gavekort seksjon*/


/*Styling av flex-container*/
.BOOKING-gavekort-flexcontainer {
  background-color: rgb(79 105 82);
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-content: center;
  text-align: left;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}
/*Styling av div*/
.BOOKING-gavekort-flexcontainer>div {
  width: 500px;
  font-size: 20px;
  padding: 30px;
}
/*Styling av h4 element*/
.BOOKING-gavekort-flexcontainer h4 {
  color: white;
  font-size: 1.5em;
}
/*Styling av p element*/
.BOOKING-gavekort-flexcontainer p {
  color: white;
  padding-top: 10px;

}
/*Styling av knapp*/
.BOOKING-gavekort-div2 button {
  background-color: transparent;
  font-size: large;
  color: white;
  border-color: white;
  border-width: 1px;
  margin-top: 87px;
  transition: all .5s ease;
  text-align: center;
  padding: 10px 30px;
  font-family: unset;
}
/*Styling av knapp:hover*/
.BOOKING-gavekort-div2 button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
/*Styling av bilde i div*/
.BOOKING-gavekort-div1 img {
  height: 300px;
}

/* BOOKING - SLUTT -----------------------------------------------------------------------------------------*/


/* RESERVASJON SKJEMA - START -----------------------------------------------------------------------------------------*/
  
/*-Seksjon --------------------------------*/
 
/*Setter text decoration på footer på epost og adressetag */
  .epost:hover, .adresse:hover {
    text-decoration: underline;
  }

  /* Setter alt innholdet på siden som flex */
  .Reservation {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    font-family: Montserrat, Times, serif;
    margin-bottom: 194px;
  }
  
/*-Info  side---------------------------------*/

/* Lager linjen inder skjema-valg, og teks tydelighet i boksene */

  #RegValg {
    font-weight: 700;
    position: absolute;
    display: flex;
    border-bottom: 1px solid white;
    margin-left: 22px;

   }


   /* Markør som flytter seg utifra hvilke skjema som vises */

   #klump{
      content: '';
      height: 6px;
      width: 60px;
      background: #ededed;
      border-radius: 60px 60px 0 0;
      position: absolute;
      bottom: 0;
      left: 35px;
    }


/* Styling for div ("Knappene") posisjon og farge */
    .ReserverBord, .BookEvent{
      padding: 5px 12px;
      background: linear-gradient(45deg,#727c7e,rgb(59, 62, 58));
      cursor: pointer;
      transition: 0.3s ease;
      margin-bottom: 10px;
      
    }

    .ReserverBord{
      margin-right: 5px;
    }


  /* Styling og possisjonering av pilen som går tilbake */
    .tilbakeKnapp{ 
      color: white;
      position: absolute;
      font-weight: 700;
      font-size:x-large;
      margin-top: 10px;
      margin-left: 20px;
      
    }


  /* Styling av overskrift og paragraf på venstre side */

  .RegInfo {
    display: relative;
    color: white;
    margin-top: 100px;
    margin-left: 80px;
    width: 550px;
    height: 550px;
  }
  
  .RegInfo h1 {
    height: fit-content;
    margin-left: 20px;
    font-size: 50px;
    width: 300px;
    border-radius: 5px 5px 5px 0px;
  }
  
  .RegInfo p {
    height: fit-content;
    font-weight: 700;
    color: white;
    width: 250px;
    margin-top: 25px;
    margin-left: 20px;
    text-align: left;
    border: 1px solid transparent;
    border-radius: 0px 0px 5px 5px ;
  }
  
  
  
  
  /*-Utfyllingsskjema-------------------------------*/
  
  /* Posisjon og størrelse på skjema div */
  
  .RegSkjema {
    font-weight: 700;
    display: flex;
    flex-shrink: 1px;
    margin-top: 80px;
    margin-left: 200px;
    width: 500px;
    height: 550px;
    padding-top: 5px;
    padding-left: 5px;
    color: white;
    border: 1px solid transparent;
    
  }

    .RegSkjema #RegSkjemBord {
      width: 100%;
      position: relative;

    }


  /* Størrelse på skjemaet */

    .RegSkjema #form{
      width: 200%;
      position: relative;
      display: flex;
      margin: auto;
      transition: 0.2s ease-in-out;
    }

    #RegSkjemBord {
      width: 100%;
      margin: auto;
    }

  /* Gjemmer Event skjemaet */

    #RegSkjemEvent {
      width: 100%;
      margin: auto;
      display: none;
    }


  /* Styling av inputboksene i skjemaene */

    .RegSkjema label {
    margin-left: 10px;
    font-family: Montserrat, Times, serif;
    font-weight: 700;
    }
  
    .RegSkjema input {
    padding: 3px;
    margin-left: 5px;
    border-radius: 7px;
    font-family: Montserrat, Times, serif;
    font-weight: 700;
    }
  
      #navn {
      margin-top: 10px;
      }
    
      #email{
      width: 69%;
      }
  
      #tlf{
      width: 44%;
      }
  
      #gjester {
      width: 40px;
      }
  
    .RegSkjema textarea {
    padding: 4px;
    margin-left: 5px;
    border-radius: 7px;
    font-family: Montserrat, Times, serif;
    font-weight: 700;
    width: 69%;
    }
  
      #submit {
      margin-bottom: 8px;
      font-family: Montserrat, Times, serif;
      font-weight: 700;
      }


/* RESERVASJON SKJEMA - END ----------------------------------------------------------------------------------------------*/





/*MEDIA QUERY - START ---------------------------------------------------------------------------------------------------------*/


@media (max-width:320px) {
  
  /*---INDEX START---------------*/
  

  .INDEX-hero h1 {
    font-size: 20px;
  }
  
  .INDEX-hero p {
    font-size: 10px;
    
  }


  /*---INDEX SLUTT---------------*/

  /*---MENY START----------------*/

  .MenyContainer,
  .MenyOverskriftTo {
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

 .Meny-hero p{
  font-size: 20px;
 }

 .Meny-hero h1{
  font-size: 40px;
 }
/*---MENY SLUTT-------------------*/


/*---RESERVASJONER START----------*/

  .Reservationsreservasjoner{
    width: 100%;
  }
  .ReservationsHeader h1 {
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    font-family: Montserrat, Times, serif;
  }

  /*Paragraf under Overskrift*/
  .ReservationsHeader p {
    font-size: 20px;
    font-family: Montserrat, Times, serif;
    font-style: normal;
    letter-spacing: .02em;
    text-transform: none;
    line-height: 1.8em;
    line-height: 1.8;
    color: rgb(255, 255, 255);
    width: 200px;

  }
  /*---RESERVASJONER SLUTT-- --------*/


  /*---REGSKJEMA START-- --------*/

  .Reservation{
    flex-direction: column;
  }

  .RegInfo {
    margin-left: 0;
    left: 5%;
    height: fit-content;

  }

  .RegInfo p {
    padding: 2px 2px 2px 2px;
  }


  .RegSkjema {
    width: fit-content;
    top: 30px;
    margin-bottom: 2px;
    padding: 0;
    margin-left: 5px;
  }
  /*---REGSKJEMA SLUTT-- --------*/
}
/*Iphone-bilder*/
@media (max-width: 428px) {

  .INDEX-booking-div1 img{
height: 220px;

  }
}

@media (max-width: 428px) {

  .INDEX-about-div2 img{
    height: 290px;
  }
}

@media (max-width: 576px) { /*Small devices (landscape phones, 576px and up)---------------------------------------------------*/

  /*----INDEX START---------------*/

   .INDEX-hero h1{
    font-size: 30px;
   }

   .INDEX-hero p{
    font-size: 20px;
   }
  
  /*---INDEX SLUTT-----------------*/

  /*---MENY START------------------*/
  .MenyContainer,
  .MenyOverskriftTo {
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

 .Meny-hero p{
  font-size: 20px;
 }

 .Meny-hero h1{
  font-size: 40px;
 }


  /*---MENY SLUTT-------------------*/

  /*---RESERVASJONER START----------*/
  .ReservationsHeader h1 {
    font-size: 0px;
    color: rgb(255, 255, 255);
    margin-bottom: 0;

  }

  /*Paragraf under Overskrift*/
  .ReservationsHeader p {
    letter-spacing: 0em;
    font-family: Montserrat, Times, serif;
    font-style: normal;
    letter-spacing: .02em;
    text-transform: none;
    line-height: 1.8em;
    font-size: 1rem;
    line-height: 1.8;
    color: rgb(255, 255, 255);
    width: 350px;

  }

  /*---RESERVASJONER SLUTT-- --------*/

  /*---REGSKJEMA START-- --------*/

  .Reservation{
    flex-direction: column;
  }

  .RegInfo {
    margin-left: 5px;
    left: 5%;
    height: fit-content;

  }

  .RegInfo p {
    padding: 2px 2px 2px 2px;
  }


  .RegSkjema {
    width: fit-content;
    top: 30px;
    margin-bottom: 2px;
    padding: 0;
    margin-left: 10px;
  }
  /*---REGSKJEMA SLUTT-- --------*/
}

/* Medium devices (tablets, 768px and up) -------------------------------------------------------- */
@media (max-width: 768px) { 

  /*---INDEX START-------------------*/
  .INDEX-about-div2 img, .INDEX-booking-div1 img{
    width: 100%;
  }
  
  .INDEX-hero h1{
    font-size: 40px;
   }

   .INDEX-hero p{
    font-size: 20px;
   }

   .INDEX-hero {
    width: auto;
    min-height: 100vh;
    background-attachment: scroll;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/Bilder/pexels-pizza-liten.jpg');
  }
  /*---INDEX SLUTT------------------*/

  /*---BOOKING SLUTT------------------*/

   /*Styler alle bildene i booking siden slik at de tilpasses til ulike skjermer*/
   .BOOKING-info-div2 img, .BOOKING-arrangemanger-div2 img, .BOOKING-gavekort-div1 img {
    width: 100%;
  }

  /*Styler height til bilde i arrangemanger*/
  .BOOKING-arrangemanger-div2 img {
      height: 300px;
  }
  
  /*Styling av h element i hero*/
  .BOOKING-hero h1{
    font-size: 40px;
   }
   /*Styling av p element i hero*/
  .BOOKING-hero p{
    font-size: 20px;
   }

   /*Gjør slik at hero bildet passer på mobil*/
  .BOOKING-hero {
    width: auto;
    min-height: 100vh;
    background-attachment: scroll;
    background-size: cover;
  }

    /*---BOOKING SLUTT------------------*/


  /*---MENY START-------------------*/
  .MenyContainer,
  .MenyOverskriftTo {
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

 .Meny-hero p{
  font-size: 20px;
 }

 .Meny-hero h1{
  font-size: 40px;
 }

 .Meny-hero {
  width: auto;
  min-height: 100vh;
  background-attachment: scroll;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/Bilder/kokkLiten.jpg');
}

  /*---MENY SLUTT-------------------*/

  /*---RESERVASJONER START----------*/
  .ReservationsHeader h1 {
    font-size: 45px;
    color: rgb(255, 255, 255);
    margin-bottom: 0;

  }

  /*Paragraf under Overskrift*/
  .ReservationsHeader p {
    letter-spacing: 0em;
    font-family: Montserrat, Times, serif;
    font-style: normal;
    letter-spacing: .02em;
    text-transform: none;
    line-height: 1.8em;
    font-size: 1rem;
    line-height: 1.8;
    color: rgb(255, 255, 255);
    width: 350px;

  }
  /*---RESERVASJONER SLUTT-- --------*/

  /*---REGSKJEMA START-- --------*/

  .Reservation{
    flex-direction: row;
    
  }

  .RegInfo {
    margin-left: 5px;
    left: 5%;
    height: fit-content;
    width: 100%;

  }

  .RegInfo p {
    padding: 2px 2px 2px 2px;
  }


  .RegSkjema {
    width: fit-content;
    top: 30px;
    margin-bottom: 2px;
    padding: 0;
    margin-left: 10px;
  }

  /*---REGSKJEMA SLUTT-- --------*/
}

@media (max-width: 992px) { /* Large devices (desktops, 992px and up) --------------------------------------------------------*/

  /*---MENY START--------------------*/

  .MenyContainer,
  .MenyOverskriftTo {
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

 .Meny-hero p{
  font-size: 20px;
 }

 .Meny-hero h1{
  font-size: 40px;
 }

  /*---MENY SLUTT--------------------*/

}

/* X-Large devices (large desktops, 1200px and up)---------------------------------------------- */
@media (max-width: 1200px) {

  /*---REGSKJEMA START-- --------*/

  .Reservation{
    flex-direction: row;
  }

  .RegInfo {
    margin-left: 5px;
    left: 5%;
    height: fit-content;

  }

  .RegInfo p {
    padding: 2px 2px 2px 2px;
  }


  .RegSkjema {
    width: fit-content;
    top: 30px;
    margin-bottom: 2px;
    padding: 0;
    margin-left: 10px;
  }
}
/*---REGSKJEMA SLUTT-- --------*/

/*MEDIA QUERY - SLUTT ---------------------------------------------------------------------------------------------------------*/
