

body{
    background: #444343;
}

/* Denne legger bare til borders på boksene */
.DATAContainer3 div, .DATAContainer1 div, .DATAContainer2 div{
    border: 1px #ccc solid; 
    padding: 5%;
    margin: 1.1%;
}

.DATAContainer3 , .DATAContainer1 {
    display: flex;
    justify-content: space-around;
    justify-content: center;
}

.DATAContainer1{
    margin-top: 40px;
}

.DATAContainer2{
    display: flex;
    justify-content: center;
}

.DATABoks1, .DATABoks3{
    flex-basis: 60%;
    transition: 1s;
    background: #828080;
} 

.DATABoks1{
    height: 70px;
}

.DATABoks3{
    height: 300px;
}

.DATABoks2{
    flex-basis: 23.5%;
    background: #828080;
}


#DATAOverskrift{
    display: flex;
    justify-content: center;
    bottom: 40px;
    color: #f4f7fb;
    font-weight: 100;
    font-size: 300%;
}

#DATALinje{
    height: 1px;
    width: 85%;
    background-color:aqua;
    border: none;
}
/* Firkanten som snurrer start --------------------------------------------------------------------------------------------*/


@media (max-width:320px) { /* ---------------- */
    .DATABoks2{
        flex-basis: 31.5%;
    }
}

@media (max-width: 576px) { /* ---------------- */
    h1{
        font-size: 200%;
    }

    .DATABoks1, .DATABoks3 {
        flex-basis: 80%;
    }

    .DATABoks2{
        flex-basis: 31.5%;
    }
}

@media (max-width: 768px) { /* ---------------- */
    h1{
        font-size: 250%;
    }

    .DATABoks1, .DATABoks3 {
        flex-basis: 75%;
    }
    .DATABoks2{
        flex-basis: 31.5%;
    }
}

@media (max-width: 992px) { /* ---------------- */
    h1{
        font-size: 250%;
    }

    .DATABoks1, .DATABoks3{
        flex-basis: 75%;
    }
    .DATABoks2{
        flex-basis: 31.5%;
    }
}

@media (max-width: 1024px) { /* ---------------- */
    h1{
        font-size: 250%;
    }

    .DATABoks1, .DATABoks3{
        flex-basis: 75%;
    }
    .DATABoks2{
        flex-basis: 31.5%;
    }
}

@media (min-width: 1025px) { /* ---------------- */



    .DATABoks1, .DATABoks3, .DATABoks2 {
        transition: 1s;
    }

    .DATABoks3:hover, .DATABoks1:hover, .DATABoks2:hover{
        background: #b0aeae;
        transform: scale(1.1);
    }
    h1{
        font-size: 250%;
    }

    .DATABoks1, .DATABoks3{
        flex-basis: 75%;
    }
    .DATABoks2{
        flex-basis: 31.5%;
    }
  
}

/* Firkanten som snurrer start --------------------------------------------------------------------------------------------*/
