
/*Section footer*/
.footer-class {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    position:static;
    bottom: 0;
    font-family: Montserrat, Times, serif;
}

/*Footer-Container*/
.footer-container {
    display:flex;
    padding: 50px 20px;
    min-width: 100px;
    margin: 0 auto;
}
/*Styling av h4 element i Footer-cotainer*/
.footer-container h4 {
    margin-bottom: 20px;
    font-size: 20px;
}

/*Generellinfo seksjon*/
.li-generellinfo {
    background-color: white;
    flex-grow: 1;
    flex-basis: 100%;
}

/*Styler ul element i generellinfo boksen*/
.li-generellinfo ul {
    list-style: none;
    line-height: 1.5;
}

/*Åpningstider seksjon*/
.li-åpningstider {
    background-color: white;
    flex-grow: 1;
    flex-basis: 100%;
    margin: 0 100;
}

/*Styler ul element i åpningstider boksen*/
.li-åpningstider ul {
    list-style: none;
    line-height: 1.5;
}

/*Kontaktinfo seksjon*/
.li-kontaktinfo {
    background-color: white;
    flex-grow: 1;
    flex-basis: 100%;
}

/*Styler ul element i kontaktinfo boksen*/
.li-kontaktinfo ul {
    list-style: none;
    line-height: 1.5;
}

/*Copyright seksjon av footer*/
.li-copyright {
    text-align: center;
    padding: 15px 0px;
    border-top: 1px solid grey;
}

/*Property for å sentrere footer tekst*/
.footer-list {
    display: flex;
    justify-content: center;
}

/*Gjør at footer passer til andre skjerm størrelser */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        
    }
    .li-åpningstider {
        margin: 0;
    }

    .footer-list > ul {
        width: 100%;
        padding: 20px;
    }
}