body {
  margin: 0;
  padding: 0;

}

/* NAVNBAR - START -----------------------------------------------------------------------------------------------*/
/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: auto;
}

body {
  font-family: Montserrat, Times, serif;
}

nav {
  background: #222;
  padding: 5px 20px;
}

ul {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo a:hover {
  text-decoration: none;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

.logo a,
.toggle a {
  font-size: 20px;
}

.button.secondary {
  border-bottom: 1px #444 solid;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor: pointer;
}

.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.bars:before,
.bars:after {
  background: #999;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.bars:before {
  top: 5px;
}

.bars:after {
  top: -5px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 2;
  }

  .button.secondary {
    border: 0;
  }

  .button a {
    padding: 7.5px 15px;
    background: teal;
    border: 1px #006d6d solid;
    border-radius: 50em;
  }

  .button.secondary a {
    background: transparent;
  }

  .button a:hover {
    text-decoration: none;
    transition: all .25s;
  }

  .button:not(.secondary) a:hover {
    background: #006d6d;
    border-color: #005959;
  }

  .button.secondary a:hover {
    color: #ddd;
  }
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
  }

  .button {
    order: 2;
  }

  .menu li {
    padding: 15px 10px;
  }

  .menu li.button {
    padding-right: 0;
  }
}

/* NAVNBAR - SLUTT -----------------------------------------------------------------------------------------------*/

/*-------------------------------INDEX START--------------------------------------*/

.INDEX-bg-img {
  background-image: url("Bilder/pexels-chan-walrus-941861.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*Dette er teksten til bildet*/
.INDEX-bg-img-tekst #INDEX-bg-overskrift {
  text-align: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 400%;
  font-weight: 150%;
}

.INDEX-bg-img-tekst #INDEX-bg-tekst {
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 150%;
  font-weight: 100;

}

.INDEX-bg-img-tekst #INDEX-bg-undertekst {
  text-align: center;
  padding: 1px;
  color: white;
  font-size: 150%;
  font-weight: 100;

}

/*Reservasjonsknapp*/

.INDEX-bg-img-knapper {
  text-align: center;
  padding: 30px;
  transition: all .5s ease;
}

.INDEX-bg-img-knapper #INDEX-bg-knapp {
  font-family: Montserrat, Times, serif;
  background-color: transparent;
  font-size: large;
  color: rgb(255, 255, 255);
  border-color: white;
  border-width: 1px;
  padding: 1em 2em;
  transition: all .5s ease;
}


#INDEX-bg-knapp:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.INDEX-bg-img-knapper {
  text-align: center;
  padding: 30px;
  transition: all .5s ease;
}

.INDEX-bg-img-knapper #INDEX-bg-knapp2 {

  font-family: Montserrat, Times, serif;

  background-color: transparent;
  font-size: large;
  color: white;
  border-color: white;
  border-width: 1px;
  padding: 1em 2em;
  transition: all .5s ease;
}


#INDEX-bg-knapp2:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

/*-------------------------------INDEX SLUTT--------------------------------------*/

/*-------------------------------INDEX FOOTER START--------------------------------------*/


/*--INDEX FOOTER-- */
.INDEX-footer {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  position: static;
  bottom: 0;
}

.INDEX-container {
  display: flex;
  padding: 50px 20px;
  min-width: 100px;
  margin: 0 auto;
}

.INDEX-random {
  background-color: white;
  flex-grow: 1;
  flex-basis: 100%;
}

.INDEX-åpningstider {
  background-color: white;
  flex-grow: 1;
  flex-basis: 100%;
  margin: 0 100;
}

.INDEX-info {
  background-color: white;
  flex-grow: 1;
  flex-basis: 100%;
}

.INDEDX-container h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

.INDEX-random ul {
  list-style: none;
  line-height: 1;
}

.INDEX-åpningstider ul {
  list-style: none;
  line-height: 1.5;
}

.INDEX-info ul {
  list-style: none;
  line-height: 1.5;
}

.INDEX-copyright {
  text-align: center;
  padding: 15px 0px;
  border-top: 1px solid grey;
}

.INDEX-footer-container {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 786px) {
  .INDEX-container {
    flex-direction: column;

  }

  .INDEX-åpningstider {
    margin: 0;
  }

  .INDEX-footer-container>ul {
    width: 400px;
    padding: 20px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .INDEX-container {
    flex-direction: column;

  }

  .INDEX-åpningstider {
    margin: 0;
  }

  .INDEX-footer-container>ul {
    width: 400px;
    padding: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .INDEX-bg-img {
    min-height: 500px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .INDEX-bg-img {
    min-height: 400px;
  }

  .INDEX-bg-img-tekst #bg-overskrift {
    padding-top: 80px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .INDEX-bg-img {
    min-height: 600px;
  }

  .INDEX-bg-img-tekst #INDEX-bg-overskrift {
    padding-top: 80px;
  }
}

/*-------------------------------INDEX FOOTER SLUTT--------------------------------------*/



/* MENY  - SILJE  - START -----------------------------------------------------------------------------------------------*/

/* Menyen: bildet -------------------------------------------------------------------------------------------------------*/

.MenyenBilde {
  background-image: url("Bar6.jpeg");
  position: relative;
  height: 55vh;
  background-position: center;
  background-repeat: no-repeat;
}

#MenyOverskriftBilde,
#MenyUnderoverskriftBilde {
  position: relative;
  text-align: center;
  top: 25%;
  color: #f4f7fb;
}

#MenyOverskriftBilde {
  line-height: 0.9;
  font-weight: 100;
  font-size: 400%;
}

#MenyUnderoverskriftBilde {
  font-size: 120%;
  font-weight: 500;
  word-spacing: 20%;

}

/* Menyen: rettene -------------------------------------------------------------------------------------------------------*/

/*Dette er for å lage de i bokser*/

.MenyContainer div,
.MenyOverskriftTo {
  border: 1px #ccc solid;
  padding: 10px
}


/*Setter boksene ved siden av hverandre*/
.MenyContainer,
.MenyOverskriftTo {
  display: flex;
  justify-content: center;
}


.MenyContainerBoks {
  flex-basis: 25%;
  margin: 1%;
  text-align: center;
}

.MenyOverskriftTo {
  padding-top: 1.5%;
  padding-bottom: 0.5%;
}

/* MENY  - SILJE - SLUTT ----------------------------------------------------------------------------------------------/*


/* RESERVASJONER - EMIL - START -----------------------------------------------------------------------------------------*/

.Reservationsreservasjoner {
  background-image: url(BG.jpg);
  min-height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

/*Overskrift reservations*/
.ReservationsHeader {

  text-align: center;
  margin-top: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;

}

/*Overskrift*/

.ReservationsHeader h1 {
  position: relative;

  text-align: center;
  font-size: 90px;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
  font-family: 'Libre Baskerville', serif;

}

/*Paragraf under Overskrift*/
.ReservationsHeader p {
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  text-align: center;
  letter-spacing: 0em;
  font-family: Montserrat, Times, serif;
  font-style: normal;
  letter-spacing: .02em;
  text-transform: none;
  line-height: 1.8em;
  font-size: 1rem;
  line-height: 1.8;
  color: rgb(255, 255, 255);
}

/*Knapp reserver bord*/

.ReservationsHeader button {
  font-family: Montserrat, Times, serif;
  background-color: transparent;
  font-size: large;
  color: white;
  border-color: white;
  border-width: 1px;
  padding: 10px 2em;
  transition: all .5s ease;

  font-family: Montserrat, Times, serif;
  margin-top: 25px;

}








/*Tekst som ligger i footer*/
.Reservationsparagrafer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "paragraf1 paragraf2 paragraf3";
  grid-column-gap: 150px;
  grid-row-gap: 0px;
  text-align: center;
  align-content: center;
  margin-top: 40px;
  letter-spacing: 0em;
  font-family: Montserrat, Times, serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .02em;
  text-transform: none;
  line-height: 1.8em;
  font-size: 1rem;
  line-height: 1.8;
  color: rgb(0, 0, 0);
  margin-left: 50px;
  margin-right: 50px;


}


/*Margin over til H3*/

.Reservationsparagraf1 p,
.Reservationsparagraf2 p,
.Reservationsparagraf3 p {
  margin-top: 15px;
}

.Reservationsparagraf1 {
  grid-area: paragraf1;

}

.Reservationsparagraf2 {
  grid-area: paragraf2;


}

.Reservationsparagraf3 {
  grid-area: paragraf3;


}

/*Overskrift - footer*/
.Reservationsfooterh3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.4em;
  font-size: 25px;
}

/*Footer*/
.Reservationsfooter {
  background-color: white;
  height: 300px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
}






/* RESERVASJONER - EMIL - SLUTT -----------------------------------------------------------------------------------------*/


/* REGISTRERING - BREDE - START -----------------------------------------------------------------------------------------*/

/* ------------------------------------------- Registrering -------------------------------------------------------*/

/*---------------------------------------------------Seksjon------------------------------------------------------------------*/


.Reservation {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  font-family: Montserrat, Times, serif;

}

/*-------------------------------------------------Venstre side-----------------------------------------------------------------------*/

.RegInfo {
  display: relative;
  color: white;
  margin-top: 80px;
  margin-left: 80px;
  width: 550px;
  height: 550px;
}

.RegInfo h1 {
  height: fit-content;
  margin-left: 20px;
  font-size: 50px;
  width: 300px;
  border-radius: 5px 5px 5px 0px;
}

.RegInfo p {
  height: fit-content;
  font-weight: 700;
  color: white;
  width: 250px;
  margin-top: 25px;
  margin-left: 20px;
  text-align: left;
  border: 1px solid transparent;
  border-radius: 0px 0px 5px 5px ;
}




/*--------------------------------------------------Utfyllingsskjema--------------------------------------------------------------------------*/
.RegSkjemaBord {
  border-color: transparent;
  font-weight: 700;
  display: relative;
  flex-shrink: 1px;
  margin-top: 80px;
  margin-left: 300px;
  width: 500px;
  height: 550px;
  padding-top: 5px;
  padding-left: 5px;
  color: white;
 
}

  .RegSkjemaBord fieldset {
  border-radius: 5px;
  font-family: Montserrat, Times, serif;
  
  }

  .RegSkjemaBord label {
  margin-left: 10px;
  font-family: Montserrat, Times, serif;
  font-weight: 700;
  }

  .RegSkjemaBord input {
  padding: 3px;
  margin-left: 5px;
  border-radius: 7px;
  font-family: Montserrat, Times, serif;
  font-weight: 700;
  }

  #navn {
    margin-top: 10px;
  }
  
  #email{
    width: 69%;
  }

  #tlf{
    width: 44%;
  }

  #gjester {
  width: 40px;
  }

  .RegSkjemaBord textarea {
  padding: 4px;
  margin-left: 5px;
  border-radius: 7px;
  font-family: Montserrat, Times, serif;
  font-weight: 700;
  width: 69%;
  }

  #submit {
    margin-bottom: 8px;
    font-family: Montserrat, Times, serif;
    font-weight: 700;
  }

/*------------------------------------------------- Mobil S -----------------------------------------------------------------------*/
@media all and (max-width: 320px) {

  .RegInfo {
    margin-left: 0;
    left: 5%;
    height: fit-content;

  }

  .RegInfo p {
    padding: 5px 5px 5px 5px;
  }


  .RegSkjema {
    width: fit-content;
    top: 30px;
    left: 0.5px;
    margin-bottom: 2px;
  }
}

/*------------------------------------------------- Mobil M -----------------------------------------------------------------------*/

@media all and (max-width: 375px) {

  .RegInfo {
    margin-left: 0;
    left: 2%;
    height: fit-content;

  }

  .RegInfo p {
    padding: 2px 2px 2px 2px;
  }


  .RegSkjema {
    width: fit-content;
    margin-left: 2px;
    margin: auto;
    margin-bottom: 2px;
  }

}

/*------------------------------------------------- Mobil L -----------------------------------------------------------------------*/

@media all and (max-width: 425px) {
  .RegInfo {
    margin-left: 0;
    left: 2%;
    height: fit-content;

  }

  .RegInfo p {
    padding: 2px 2px 2px 2px;
  }


  .RegSkjema {
    left: 5px;
    width: fit-content;
    margin: auto;
  }

}

/*------------------------------------------------- Tablet -----------------------------------------------------------------------*/
@media all and (max-width: 768px) {
  .RegInfo {
    margin-left: 0;
    left: 2%;
    height: fit-content;

  }

  .RegInfo p {
    padding: 2px 2px 2px 2px;
  }


  .RegSkjema {
    width: 550px;
    left: 10px;

    margin: auto;
  }
}

/*------------------------------------------------- Laptop -----------------------------------------------------------------------*/
@media all and (max-width: 1024px) {
  .RegInfo {
    margin-left: 0;
    margin-right: 0;
    left: 2%;
    height: fit-content;
    width: fit-content;

  }

  .RegInfo p {
    padding: 2px 2px 2px 2px;
  }


  .RegSkjema {
    width: 550px;
    top: 200px;
    left: 70px;
    margin: auto;
  }
}

/*------------------------------------------------- Laptop L ----------------------------------------------------------------*/
@media all and (max-width: 1440px) {}

@media all and (max-width: 2560px) {

  .RegInfo p {

    padding: 2px 2px 2px 2px;
  }
}

/* REGISTRERING - BREDE - END ----------------------------------------------------------------------------------------------*/




/* MEDIA QUERY START ---------------------------------------------------------------------------------------------------------*/



@media (max-width:320px) {
  /*-------------------------------------------------------------------------------------------------*/

  /*---NAV BAR-------------------*/
  /*---NAV BAR SLUTT-------------*/
  /*---INDEX START---------------*/
  /*---INDEX SLUTT---------------*/
  /*---MENY START----------------*/
  .MenyContainer,
  .MenyOverskriftTo {
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

  }

  /*---MENY SLUTT-------------------*/
  /*---RESERVASJONER START----------*/
  .ReservationsHeader h1 {
    font-size: 60px;
    color: rgb(65, 60, 60);
    margin-bottom: 0;
    font-family: 'Libre Baskerville', serif;

  }

  /*Paragraf under Overskrift*/
  .ReservationsHeader p {
    letter-spacing: 0em;
    font-family: Montserrat, Times, serif;
    font-style: normal;
    letter-spacing: .02em;
    text-transform: none;
    line-height: 1.8em;
    font-size: 1rem;
    line-height: 1.8;
    color: rgb(0, 0, 0);
    width: 350px;

  }


  .Reservationsreservasjoner {
    background-image: url(TelefonSize.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .Reservationsparagrafer {

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "paragraf1"
      "paragraf2"
      "paragraf3"

  }

  .Reservationsfooter h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
    font-size: 30px;
    margin-top: 20px;
  }


  /*---RESERVASJONER SLUTT-- --------*/
  /*---ABOUT START-------------------*/
  /*---ABOUT SLUTT-------------------*/

}


/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  /*-----------------------------------------------*/

  /*---NAV BAR-------------------*/
  /*---NAV BAR SLUTT-------------*/
  /*---INDEX START---------------*/
  .INDEX-container {
    flex-direction: column;

  }

  .INDEX-åpningstider {
    margin: 0;
  }

  .INDEX-footer-container>ul {
    width: 400px;
    padding: 20px;
  }

  /*---INDEX SLUTT---------------*/
  /*---MENY START----------------*/
  .MenyContainer,
  .MenyOverskriftTo {
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  /*---MENY SLUTT-------------------*/
  /*---RESERVASJONER START----------*/
  .ReservationsHeader h1 {
    font-size: 0px;
    color: rgb(65, 60, 60);
    margin-bottom: 0;
    font-family: 'Libre Baskerville', serif;

  }

  /*Paragraf under Overskrift*/
  .ReservationsHeader p {
    letter-spacing: 0em;
    font-family: Montserrat, Times, serif;
    font-style: normal;
    letter-spacing: .02em;
    text-transform: none;
    line-height: 1.8em;
    font-size: 1rem;
    line-height: 1.8;
    color: rgb(0, 0, 0);
    width: 350px;

  }


  .Reservationsreservasjoner {
    background-image: url(TelefonSize.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .Reservationsparagrafer {

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "paragraf1"
      "paragraf2"
      "paragraf3"

  }

  .Reservationsfooter h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
    font-size: 40px;
    margin-top: 20px;
  }

  /*---RESERVASJONER SLUTT-- --------*/
  /*---ABOUT START-------------------*/
  /*---ABOUT SLUTT-------------------*/

}


@media (max-width: 768px) {
  /* Medium devices (tablets, 768px and up) ----------------------------------------------------------*/

  /*---NAV BAR-------------------*/
  /*---NAV BAR SLUTT-------------*/
  /*---INDEX START---------------*/
  .INDEX-container {
    flex-direction: column;

  }

  .INDEX-åpningstider {
    margin: 0;
  }

  .INDEX-footer-container>ul {
    width: 400px;
    padding: 20px;
  }

  /*---INDEX SLUTT---------------*/
  /*---MENY START----------------*/
  .MenyContainer,
  .MenyOverskriftTo {
    flex-direction: column;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .MenyenBilde {
    height: 400px;
  }

  /*---MENY SLUTT-------------------*/
  /*---RESERVASJONER START----------*/
  .ReservationsHeader h1 {
    font-size: 45px;
    color: rgb(65, 60, 60);
    margin-bottom: 0;
    font-family: 'Libre Baskerville', serif;

  }

  /*Paragraf under Overskrift*/
  .ReservationsHeader p {
    letter-spacing: 0em;
    font-family: Montserrat, Times, serif;
    font-style: normal;
    letter-spacing: .02em;
    text-transform: none;
    line-height: 1.8em;
    font-size: 1rem;
    line-height: 1.8;
    color: rgb(0, 0, 0);
    width: 350px;

  }


  .Reservationsreservasjoner {
    background-image: url(TelefonSize.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .Reservationsparagrafer {

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "paragraf1"
      "paragraf2"
      "paragraf3"

  }

  .Reservationsfooter h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
    font-size: 65px;

  }

  /*---RESERVASJONER SLUTT-- --------*/
  /*---ABOUT START-------------------*/
  /*---ABOUT SLUTT-------------------*/
}

@media (max-width: 992px) {
  /* Large devices (desktops, 992px and up) ---------------------------------------------------------*/

  /*---NAV BAR-------------------*/
  /*---NAV BAR SLUTT-------------*/
  /*---INDEX START---------------*/
  .INDEX-bg-img {
    min-height: 400px;
  }

  .INDEX-bg-img-tekst #bg-overskrift {
    padding-top: 80px;
  }

  /*---INDEX SLUTT---------------*/
  /*---MENY START----------------*/
  .MenyContainer,
  .MenyOverskriftTo {
    flex-direction: column;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .MenyenBilde {
    height: 400px;
  }

  /*---MENY SLUTT-------------------*/
  /*---RESERVASJONER START----------*/
  .Reservationsfooter h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
    font-size: 25px;
  }

  /*---RESERVASJONER SLUTT-- --------*/
  /*---ABOUT START-------------------*/
  /*---ABOUT SLUTT-------------------*/


}

@media (max-width: 1200px) {
  /* X-Large devices (large desktops, 1200px and up)------------------------------------------------*/

  /*---NAV BAR-------------------*/
  /*---NAV BAR SLUTT-------------*/
  /*---INDEX START---------------*/
  .INDEX-bg-img {
    min-height: 600px;
  }

  .INDEX-bg-img-tekst #INDEX-bg-overskrift {
    padding-top: 80px;
  }

  /*---INDEX SLUTT---------------*/
  /*---MENY START----------------*/
  .MenyenBilde {
    height: 400px;
  }

  /*---MENY SLUTT-------------------*/
  /*---RESERVASJONER START----------*/
  .Reservationsfooter h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
    font-size: 25px;
  }

  /*---RESERVASJONER SLUTT-- --------*/
  /*---ABOUT START-------------------*/
  /*---ABOUT SLUTT-------------------*/


}

@media (min-width: 1200px) {
  /* XX-Large devices (larger desktops, 1400px and up) --------------------------------------------*/

  /*---MENY SLUTT-------------------*/
  /*---RESERVASJONER START----------*/
  /*---RESERVASJONER SLUTT-- --------*/
  /*---ABOUT START-------------------*/
  /*---ABOUT SLUTT-------------------*/
  .MenyenBilde {
    height: 400px;
  }

  /*---MENY SLUTT-------------------*/
  /*---RESERVASJONER START----------*/
  .Reservationsfooter h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
    font-size: 25px;
  }

  /*---RESERVASJONER SLUTT-- --------*/
  /*---ABOUT START-------------------*/
  /*---ABOUT SLUTT-------------------*/


}

/* MEDIA QUERY SLUTT ---------------------------------------------------------------------------------------------------------------*/
