body {
  margin: 0;
  padding: 0;

}

/* NAVNBAR - START -----------------------------------------------------------------------------------------------*/
/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: auto;
}

body {
  font-family: Montserrat, Times, serif;
}

nav {
  background: #222;
  padding: 5px 20px;
}

ul {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo a:hover {
  text-decoration: none;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

.logo a,
.toggle a {
  font-size: 20px;
}

.button.secondary {
  border-bottom: 1px #444 solid;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor: pointer;
}

.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.bars:before,
.bars:after {
  background: #999;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.bars:before {
  top: 5px;
}

.bars:after {
  top: -5px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 2;
  }

  .button.secondary {
    border: 0;
  }

  .button a {
    padding: 7.5px 15px;
    background: teal;
    border: 1px #006d6d solid;
    border-radius: 50em;
  }

  .button.secondary a {
    background: transparent;
  }

  .button a:hover {
    text-decoration: none;
    transition: all .25s;
  }

  .button:not(.secondary) a:hover {
    background: #006d6d;
    border-color: #005959;
  }

  .button.secondary a:hover {
    color: #ddd;
  }
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
  }

  .button {
    order: 2;
  }

  .menu li {
    padding: 15px 10px;
  }

  .menu li.button {
    padding-right: 0;
  }
}

/* NAVNBAR - SLUTT -----------------------------------------------------------------------------------------------*/

/*-------------------------------INDEX START--------------------------------------*/

.INDEX-hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('Bilder/pexels-eneida-nieves-905847.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*Dette er teksten til bildet*/
.INDEX-hero h1 {
  text-align: center;
  color: white;
  margin-bottom: 0.5em;
  font-size: 4em;
}

.INDEX-hero p {
  color: white;
  font-size: 250%;
}

  .INDEX-about-flexcontainer {
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: left;
      width: 100%;
      padding-top: 100px;
      padding-bottom: 80px;
  }

  .INDEX-about-flexcontainer > div {
      width: 500px;
      font-size: 20px;
      padding: 30px;
  }

  .INDEX-about-flexcontainer h3 {
      color: black;
      font-weight: bold;
  }

  .INDEX-about-flexcontainer p {
      color: black;
      padding-top: 10px;
  }


  .INDEX-about-div2 img {
    height: 300px;
}
  
.INDEX-about-div1 button {
    background-color: transparent;
    font-size: large;
    color: black;
    border-color: black;
    border-width: 1px;
    margin-top: 20px;
    transition: all .5s ease;
    text-align: left;
    padding: 10px 30px;
  }

.INDEX-about-div1 button:hover {
    cursor: pointer;
    background-color: black;
    color:white;
  }
  
  .INDEX-booking-flexcontainer {
    background-color:#222;
    display: flex;
    flex-wrap:wrap-reverse;
    justify-content: center;
    align-content: center;
    text-align: left;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.INDEX-booking-flexcontainer > div {
    width: 500px;
    font-size: 20px;
    padding: 30px;
}

.INDEX-booking-flexcontainer h3 {
    color: white;
    font-weight: bold;
}

.INDEX-booking-flexcontainer p {
    color: white;
    padding-top: 10px;

}

.INDEX-booking-div1 img {
    height: 300px;
}

  
.INDEX-booking-div2 button {
    background-color: transparent;
    font-size: large;
    color: white;
    border-color: white;
    border-width: 1px;
    margin-top: 20px;
    transition: all .5s ease;
    text-align: center;
    padding: 10px 30px;
  }

.INDEX-booking-div2 button:hover {
    cursor: pointer;
    background-color: white;
    color:black;
  }

/*-------------------------------INDEX SLUTT--------------------------------------*/

/*-------------------------------INDEX FOOTER START--------------------------------------*/


/*--INDEX FOOTER-- */ 
.INDEX-footer {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  position: static;
  bottom: 0;
}

.INDEX-container {
  font-weight: 700;
  display: flex;
  padding: 50px 20px;
  min-width: 100px;
  margin: 0 auto;
}

.INDEX-random {
  background-color:white;
  flex-grow: 1;
  flex-basis: 100%;
}

.INDEX-åpningstider {
  background-color: white;

  flex-grow: 1;
  flex-basis: 100%;
  margin: 0 100;
}

.INDEX-info {
  background-color: white;
  flex-grow: 1;
  flex-basis: 100%;
}

.INDEDX-container h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

.INDEX-random ul {
  list-style: none;
  line-height: 1;
}

.INDEX-åpningstider ul {
  list-style: none;
  line-height: 1.5;
}

.INDEX-info ul {
  list-style: none;
  line-height: 1.5;
}

.INDEX-copyright {
  font-weight: 500;
  text-align: center;
  padding: 15px 0px;
  border-top: 1px solid grey;
}

.INDEX-footer-container {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 786px) {
  .INDEX-container {
    flex-direction: column;

  }

  .INDEX-åpningstider {
    margin: 0;
  }

  .INDEX-footer-container>ul {
    width: 400px;
    padding: 20px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .INDEX-container {
    flex-direction: column;

  }

  .INDEX-åpningstider {
    margin: 0;
  }

  .INDEX-footer-container>ul {
    width: 400px;
    padding: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .INDEX-bg-img {
    min-height: 500px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .INDEX-bg-img {
    min-height: 400px;
  }

  .INDEX-bg-img-tekst #bg-overskrift {
    padding-top: 80px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .INDEX-bg-img {
    min-height: 600px;
  }

  .INDEX-bg-img-tekst #INDEX-bg-overskrift {
    padding-top: 80px;
  }
}

/*-------------------------------INDEX FOOTER SLUTT--------------------------------------*/



/* MENY  - SILJE  - START -----------------------------------------------------------------------------------------------*/

/* Menyen: bildet -------------------------------------------------------------------------------------------------------*/

.MenyenBilde {
  background-image: url("Bar6.jpeg");
  position: relative;
  height: 55vh;
  background-position: center;
  background-repeat: no-repeat;
}

#MenyOverskriftBilde,
#MenyUnderoverskriftBilde {
  position: relative;
  text-align: center;
  top: 25%;
  color: #f4f7fb;
}

#MenyOverskriftBilde {
  line-height: 0.9;
  font-weight: 100;
  font-size: 400%;
}

#MenyUnderoverskriftBilde {
  font-size: 120%;
  font-weight: 500;
  word-spacing: 20%;

}

/* Menyen: rettene -------------------------------------------------------------------------------------------------------*/

/*Dette er for å lage de i bokser*/

.MenyContainer div,
.MenyOverskriftTo {
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  padding: 30px
}



/*Setter boksene ved siden av hverandre*/
.MenyContainer,
.MenyOverskriftTo {
  display: flex;
  justify-content: center;
}


.MenyContainerBoks {
  font-weight: 700;
  flex-basis: 25%;
  margin: 1%;
  text-align: center;
  /*transition: 1s;*/
}

.MenyOverskriftTo {
  padding-top: 1.5%;
  padding-bottom: 0.5%;
}

.MenyContainerBoks #allergi{
  bottom: 0;
  border: 1px solid transparent;
  width: fit-content;
}

.MenyOverskriftTo h2{
  border-bottom: 1px solid gainsboro;
}
/*
.MenyContainerBoks:hover{
  transform: scale(1.1);
  font-weight: 800;
  font-size: 120%;
}
*/

/* MENY  - SILJE - SLUTT ----------------------------------------------------------------------------------------------/*


/* RESERVASJONER - EMIL - START -----------------------------------------------------------------------------------------*/

.Reservationsreservasjoner {
  font-weight: 700;
  background-image: url(BG.jpg); 
  min-height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

/*Overskrift reservations*/
.ReservationsHeader {

  text-align: center;
  margin-top: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;

}

/*Overskrift*/

.ReservationsHeader h1 {
  position: relative;

  text-align: center;
  font-size: 90px;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
  font-family: 'Libre Baskerville', serif;

}

/*Paragraf under Overskrift*/
.ReservationsHeader p {
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  text-align: center;
  letter-spacing: 0em;
  font-family: Montserrat, Times, serif;
  font-style: normal;
  letter-spacing: .02em;
  text-transform: none;
  line-height: 1.8em;
  font-size: 1rem;
  line-height: 1.8;
  color: rgb(255, 255, 255);
}

/*Knapp reserver bord*/

.ReservationsHeader button {
  font-weight: 700;
  font-family: Montserrat, Times, serif;
  background-color: transparent;
  font-size: large;
  color: white;
  border-color: white;
  border-width: 1px;
  padding: 10px 2em;
  transition: all .5s ease;

  font-family: Montserrat, Times, serif;
  margin-top: 25px;

}


/*Tekst som ligger i footer*/
.Reservationsparagrafer {
  font-weight: 700;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "paragraf1 paragraf2 paragraf3";
  grid-column-gap: 150px;
  grid-row-gap: 0px;
  text-align: center;
  align-content: center;
  margin-top: 40px;
  letter-spacing: 0em;
  font-family: Montserrat, Times, serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .02em;
  text-transform: none;
  line-height: 1.8em;
  font-size: 1rem;
  line-height: 1.8;
  color: rgb(0, 0, 0);
  margin-left: 50px;
  margin-right: 50px;
}


/*Margin over til H3*/

.Reservationsparagraf1 p,
.Reservationsparagraf2 p,
.Reservationsparagraf3 p {
  margin-top: 15px;
  font-weight: 700;
}

.Reservationsparagraf1 {
  grid-area: paragraf1;

}

.Reservationsparagraf2 {
  grid-area: paragraf2;


}

.Reservationsparagraf3 {
  grid-area: paragraf3;


}

/*Overskrift - footer*/
.Reservationsfooterh3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.4em;
  font-size: 25px;
}

/*Footer*/
.Reservationsfooter {
  background-color: white;
  height: 300px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
}


/* RESERVASJONER - EMIL - SLUTT -----------------------------------------------------------------------------------------*/


/* RESERVASJON SKJEMA - START -----------------------------------------------------------------------------------------*/
  
  /*---------------------------------------------------Seksjon------------------------------------------------------------------*/
  
  
  .Reservation {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    font-family: Montserrat, Times, serif;
  
  
  }
  
  /*------------------------------------------------- Info  side-----------------------------------------------------------------------*/

  #RegValg {
    font-weight: 700;
    position: absolute;
    display: flex;
    border-bottom: 1px solid white;
    margin-left: 22px;
   }
    #klump{
      content: '';
      height: 6px;
      width: 60px;
      background: #abe9ee;
      border-radius: 60px 60px 0 0;
      position: absolute;
      bottom: 0;
      left: 35px;
    }

    .ReserverBord, .BookEvent{
      padding: 5px 12px;
      background: linear-gradient(45deg,#90aaae,rgb(127, 149, 117));
      cursor: pointer;
      transition: 0.3s ease;
      margin-bottom: 10px;
      
    }

    .ReserverBord{
      margin-right: 5px;
    }

    .tilbakeKnapp{ 
      color: white;
      position: absolute;
      font-weight: 700;
      font-size:x-large;
      margin-top: 10px;
      margin-left: 20px;
      
    }



  .RegInfo {
    display: relative;
    color: white;
    margin-top: 100px;
    margin-left: 80px;
    width: 550px;
    height: 550px;
  }
  
  .RegInfo h1 {
    height: fit-content;
    margin-left: 20px;
    font-size: 50px;
    width: 300px;
    border-radius: 5px 5px 5px 0px;
  }
  
  .RegInfo p {
    height: fit-content;
    font-weight: 700;
    color: white;
    width: 250px;
    margin-top: 25px;
    margin-left: 20px;
    text-align: left;
    border: 1px solid transparent;
    border-radius: 0px 0px 5px 5px ;
  }
  
  
  
  
  /*--------------------------------------------------Utfyllingsskjema--------------------------------------------------------------------------*/
  .RegSkjema {
    font-weight: 700;
    display: flex;
    flex-shrink: 1px;
    margin-top: 80px;
    margin-left: 200px;
    width: 500px;
    height: 550px;
    padding-top: 5px;
    padding-left: 5px;
    color: white;
    border: 1px solid transparent;
    
  }

    .RegSkjema #RegSkjemBord {
      width: 100%;
      position: relative;

    }

    .RegSkjema #form{
      width: 200%;
      position: relative;
      display: flex;
      margin: auto;
      transition: 0.2s ease-in-out;
    }

    #RegSkjemBord {
      width: 100%;
      margin: auto;
    }

    #RegSkjemEvent {
      width: 100%;
      margin: auto;
      display: none;
    }

    .RegSkjema label {
    margin-left: 10px;
    font-family: Montserrat, Times, serif;
    font-weight: 700;
    }
  
    .RegSkjema input {
    padding: 3px;
    margin-left: 5px;
    border-radius: 7px;
    font-family: Montserrat, Times, serif;
    font-weight: 700;
    }
  
      #navn {
      margin-top: 10px;
      }
    
      #email{
      width: 69%;
      }
  
      #tlf{
      width: 44%;
      }
  
      #gjester {
      width: 40px;
      }
  
    .RegSkjema textarea {
    padding: 4px;
    margin-left: 5px;
    border-radius: 7px;
    font-family: Montserrat, Times, serif;
    font-weight: 700;
    width: 69%;
    }
  
      #submit {
      margin-bottom: 8px;
      font-family: Montserrat, Times, serif;
      font-weight: 700;
      }

/* RESERVASJON SKJEMA - END ----------------------------------------------------------------------------------------------*/

/* MEDIA QUERY START ---------------------------------------------------------------------------------------------------------*/



@media (max-width:320px) {
  
  /*---NAV BAR-------------------*/
  /*---NAV BAR SLUTT-------------*/
  /*---INDEX START---------------*/
  /*---INDEX SLUTT---------------*/

  /*---MENY START----------------*/
  .MenyContainer,
  .MenyOverskriftTo {
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

  }
  /*---MENY SLUTT-------------------*/

  /*---RESERVASJONER START----------*/
  .ReservationsHeader h1 {
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    font-family: 'Libre Baskerville', serif;

  }

  /*Paragraf under Overskrift*/
  .ReservationsHeader p {
    font-size: 20px;
    
    font-family: Montserrat, Times, serif;
    font-style: normal;
    letter-spacing: .02em;
    text-transform: none;
    line-height: 1.8em;
    line-height: 1.8;
    color: rgb(255, 255, 255);
    width: 200px;

  }

  .Reservationsfooter h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
    font-size: 30px;
    margin-top: 20px;
  }


  /*---RESERVASJONER SLUTT-- --------*/
  /*---REGSKJEMA START-- --------*/
  .Reservation{
    flex-direction: column;
  }

  .RegInfo {
    margin-left: 0;
    left: 5%;
    height: fit-content;

  }

  .RegInfo p {
    padding: 2px 2px 2px 2px;
  }


  .RegSkjema {
    width: fit-content;
    top: 30px;
    margin-bottom: 2px;
    padding: 0;
    margin-left: 5px;
  }
  
  /*---REGSKJEMA SLUTT-- --------*/
  /*---ABOUT START-------------------*/
  /*---ABOUT SLUTT-------------------*/

}


/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  /*-----------------------------------------------*/

  /*---NAV BAR-------------------*/
  /*---NAV BAR SLUTT-------------*/
  /*---INDEX START---------------*/
  .INDEX-container {
    flex-direction: column;

  }

  .INDEX-åpningstider {
    margin: 0;
  }

  .INDEX-footer-container>ul {
    width: 400px;
    padding: 20px;
  }

  /*---INDEX SLUTT---------------*/
  /*---MENY START----------------*/
  .MenyContainer,
  .MenyOverskriftTo {
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  /*---MENY SLUTT-------------------*/
  /*---RESERVASJONER START----------*/
  .ReservationsHeader h1 {
    font-size: 0px;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    font-family: 'Libre Baskerville', serif;

  }

  /*Paragraf under Overskrift*/
  .ReservationsHeader p {
    letter-spacing: 0em;
    font-family: Montserrat, Times, serif;
    font-style: normal;
    letter-spacing: .02em;
    text-transform: none;
    line-height: 1.8em;
    font-size: 1rem;
    line-height: 1.8;
    color: rgb(255, 255, 255);
    width: 350px;

  }


  .Reservationsreservasjoner {
    /*background-image: url(TelefonSize.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .Reservationsparagrafer {

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "paragraf1"
      "paragraf2"
      "paragraf3"

  }

  .Reservationsfooter h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
    font-size: 40px;
    margin-top: 20px;
  }

  /*---RESERVASJONER SLUTT-- --------*/
  .Reservation{
    flex-direction: column;
  }

  .RegInfo {
    margin-left: 5px;
    left: 5%;
    height: fit-content;

  }

  .RegInfo p {
    padding: 2px 2px 2px 2px;
  }


  .RegSkjema {
    width: fit-content;
    top: 30px;
    margin-bottom: 2px;
    padding: 0;
    margin-left: 10px;
  }

  /*---ABOUT START-------------------*/
  /*---ABOUT SLUTT-------------------*/

}


@media (max-width: 768px) {
  /* Medium devices (tablets, 768px and up) ----------------------------------------------------------*/

  /*---NAV BAR-------------------*/
  /*---NAV BAR SLUTT-------------*/
  /*---INDEX START---------------*/
  .INDEX-container {
    flex-direction: column;

  }

  .INDEX-åpningstider {
    margin: 0;
  }

  .INDEX-footer-container>ul {
    width: 400px;
    padding: 20px;
  }

  .INDEX-booking-div1, .INDEX-about-div2{
    margin-right: 10px;
}
  /*---INDEX SLUTT---------------*/
  /*---MENY START----------------*/
  .MenyContainer,
  .MenyOverskriftTo {
    flex-direction: column;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .MenyenBilde {
    height: 400px;
  }

  /*---MENY SLUTT-------------------*/
  /*---RESERVASJONER START----------*/
  .ReservationsHeader h1 {
    font-size: 45px;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    font-family: 'Libre Baskerville', serif;

  }

  /*Paragraf under Overskrift*/
  .ReservationsHeader p {
    letter-spacing: 0em;
    font-family: Montserrat, Times, serif;
    font-style: normal;
    letter-spacing: .02em;
    text-transform: none;
    line-height: 1.8em;
    font-size: 1rem;
    line-height: 1.8;
    color: rgb(255, 255, 255);
    width: 350px;

  }
  .Reservationsreservasjoner {
    /*background-image: url(TelefonSize.jpg);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .Reservationsparagrafer {

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "paragraf1"
      "paragraf2"
      "paragraf3"

  }

  .Reservationsfooter h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
    font-size: 65px;

  }

  /*---RESERVASJONER SLUTT-- --------*/
  .Reservation{
    flex-direction: column;
    
  }

  .RegInfo {
    margin-left: 5px;
    left: 5%;
    height: fit-content;

  }

  .RegInfo p {
    padding: 2px 2px 2px 2px;
  }


  .RegSkjema {
    width: fit-content;
    top: 30px;
    margin-bottom: 2px;
    padding: 0;
    margin-left: 10px;
  }

  /*---ABOUT START-------------------*/
  /*---ABOUT SLUTT-------------------*/
}

@media (max-width: 992px) {
  /* Large devices (desktops, 992px and up) ---------------------------------------------------------*/

  /*---NAV BAR-------------------*/
  /*---NAV BAR SLUTT-------------*/
  /*---INDEX START---------------*/

  /*---INDEX SLUTT---------------*/
  /*---MENY START----------------*/
  .MenyContainer,
  .MenyOverskriftTo {
    flex-direction: column;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .MenyenBilde {
    height: 400px;
  }

  /*---MENY SLUTT-------------------*/
  /*---RESERVASJONER START----------*/
  .Reservationsfooter h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
    font-size: 25px;
  }

  /*---RESERVASJONER SLUTT-- --------*/
  /*---ABOUT START-------------------*/
  /*---ABOUT SLUTT-------------------*/


}

@media (max-width: 1200px) {
  /* X-Large devices (large desktops, 1200px and up)------------------------------------------------*/

  /*---NAV BAR-------------------*/
  /*---NAV BAR SLUTT-------------*/
  /*---INDEX START---------------*/

  /*---INDEX SLUTT---------------*/
  /*---MENY START----------------*/
  .MenyenBilde {
    height: 400px;
  }

  /*---MENY SLUTT-------------------*/
  /*---RESERVASJONER START----------*/
  .Reservationsfooter h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
    font-size: 25px;
  }

  /*---RESERVASJONER SLUTT-- --------*/
  .Reservation{
    flex-direction: column;
  }

  .RegInfo {
    margin-left: 5px;
    left: 5%;
    height: fit-content;

  }

  .RegInfo p {
    padding: 2px 2px 2px 2px;
  }


  .RegSkjema {
    width: fit-content;
    top: 30px;
    margin-bottom: 2px;
    padding: 0;
    margin-left: 10px;
  }

  /*---ABOUT START-------------------*/
  /*---ABOUT SLUTT-------------------*/


}

@media (min-width: 1200px) {
  /* XX-Large devices (larger desktops, 1400px and up) --------------------------------------------*/

  /*---MENY SLUTT-------------------*/
  /*---RESERVASJONER START----------*/
  /*---RESERVASJONER SLUTT-- --------*/
  /*---ABOUT START-------------------*/
  /*---ABOUT SLUTT-------------------*/
  .MenyenBilde {
    height: 400px;
  }

  /*---MENY SLUTT-------------------*/
  /*---RESERVASJONER START----------*/
  .Reservationsfooter h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
    font-size: 25px;
  }

  /*---RESERVASJONER SLUTT-- --------*/
  /*---ABOUT START-------------------*/
  /*---ABOUT SLUTT-------------------*/


}

/* MEDIA QUERY SLUTT ---------------------------------------------------------------------------------------------------------------*/