body{
    background-color: #222;
    color:white;
}

.ViderePåReservasjoner{
    margin-top: 50px;
}

.DATAOverskrift{
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-size: 100%;
}

.LaMariaInfoOver2{
    margin-top: 50PX;
    justify-content: center;
}

.LaMariaInfoPara1 div, .LaMariaInfoPara3 div, .InfoBoks3{
    padding: 2%;
    margin: 2%;
}

.LaMariaInfoPara2 div{
    border: 1px #ccc solid;  
    padding: 1%;
    flex-basis: 60%;
}

 #winterBy {
    display: none;
}

.LaMariaInfoPara1, .LaMariaInfoPara2, .LaMariaInfoPara3, .LaMariaInfoPara4{
    display: flex;
    justify-content: center;
    margin-top: 10px;
   
}

.InfoBoks1{
    flex-basis: 25%;

}


 .BildeBoks1{
    flex-basis: 60%;
    transition: 1s;

} 

.InfoBoks2{
    flex-basis: 60%;
    transition: 1s;

} 

.InfoBoks3, .BildeBoks2{
    margin-bottom: 10px;
    flex-basis: 20%;
}

.LaMariaInfoPara2{
    position: flex;
    height: 20%;
}

.LaMariaInfoPara4{
    display: flex;
    justify-content: center;
}


.LaMariaInfoPara4 div{
    display: flex;
    justify-content: center;
    flex-basis: 40%;
    height: 50vh;
    height: auto;
}

    .BildeBoks1{
        flex-basis: 50%;
    }
    .BildeBoks2{
        margin-right: 10px;
        margin-left: 10px;

    }
    .InfoBoks3{
        margin-left: 5px;
    }



@media (max-width:320px) { /* ---------------- */
    
}
@media (max-width:426px) { /* ---------------- */
    .LaMariaInfoPara4 {
        flex-direction: column;
    }
    .BildeBoks2{
        flex-basis: 25%;
    }

}
@media (max-width: 550px) { /* ---------------- */


    #winterBy {
      display: block;
    }
}

@media (max-width: 720px) { /* ---------------- */


    #winterBy {
        display:flex;
    }

    #utsideBilde{
     display: none;   
    }
}

@media (max-width: 768px) { /* ---------------- */

    .LaMariaInfoPara1 {
        flex-direction: column;
    }
    .BildeBoks1{
        flex-basis: 50%;
    }
    .InfoBoks2{
        flex-basis: 60%;
    }
}



@media (max-width: 1024px) { /* ---------------- */
    
}

@media (min-width: 1025px) { /* ---------------- */



  
}